{% extends 'groups/group_base.html' %}

{% block pregroup %}

<div class='col-md-4'>
    <div class='content'>
        {% if user.is_authenticated %}

        <h2>Welcome Back!
        <a href="{% url 'posts:for_user' username=user.username %}">
            @{{ user.username }}
        </a></h2>

        {% endif %}

        <h2>Groups</h2>
        <p>Welcome to the Groups Page!</p>
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class='btn btn-md btn-fill btn-warning'>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
          </svg>
        Create New Group</a>

    {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class='col-md-8'>
    <div class='list-group'>
        {% for group in object_list %}
            <a class='list-group-item' href="{% url 'groups:single' slug=group.slug %}">
                <h3 class='title list-group-item-heading'>{{group.name}}</h3>
                <div class='list-group-item-text container-fluid'>
                    {{ group.description_html|safe }} <!-- фильтр safe позволяет не видеть теги, только содержимое в нужном виде -->
                    <div class='row'>
                        <div class='col-md-4'>
                            <span class='badge'>{{ group.members.count}}</span>
                            member{{ group.members.count|pluralize }}
                        </div>
                        <div class='col-md-4'>
                            <span class='badge'>{{ group.posts.count }}</span>
                            posts{{ group.posts.count|pluralize }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}